.idea/*
Client/BaseStation/WorldVisionTest/mainForTest.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.pyc
Client/Robot/VisionEmbarque/image/
